@use '../../../../assets/styles/variables.scss' as variables;

.card{
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.192);
  display: flex;
  flex-direction: column;

  .card_header{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .card_description{
      display: flex;
      gap: .7rem;
      align-items: center;

      .icon_card{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }

      .infos_card{
        display: flex;
        flex-direction: column;
        gap: .1rem;

        h3{
          font-size: 1rem;
        }

        h4{
          font-size: .9rem;
          font-weight: 400;
          color: variables.$text_color;
        }

        span{
          border: 1px solid;
          padding: 5px 8px;
          border-radius: 10px;
          font-size: .8rem;
          text-align: center;
          width: fit-content;
        }
      }
    }

    .card_btn{
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      font-size: .9rem;

      button{
        border-radius: 10px;
        padding: 5px;

        &:hover{
          background-color: rgba(169, 169, 169, 0.301);
        }
      }

      .btn_del{
        color: variables.$danger_color;
      }

    }
  }

  .card_value{
    margin-top: 2rem;
    font-size: 1rem;

    .div_value{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

}